/** basic default styles **/
* { margin: 0; padding: 0; }

#geral{ height:1000px;}

body { 
height: 100%; 
font-size: 62.5%;
font-family:Arial, Helvetica, sans-serif; 
color: #333;
background:#DFD9D2; 
}

a { color: #4681da; text-decoration: none; }
a:hover { text-decoration: underline; }

h2 { 
border-bottom: 1px solid #ddd; 
border-top: 1px solid #ddd; 
color: #363636;
font-family:Arial, Helvetica, sans-serif;
font-size: 2.8em; 
line-height: 1.8em; 
font-weight: 500; 
margin-top: 10px; 
margin-bottom: 10px; 
padding: 12px 0; 
text-align: center; 
}

h3 {
letter-spacing: -0.04em;
font-weight: bold;
font-size: 2.00em;
margin-top:20px;
margin-bottom: 10px;
}

h4 {
letter-spacing: -0.04em;
font-weight: bold;
font-size: 1.50em;
margin-bottom: 10px;
margin-top:10px;
}

span.chyron { font-size: 1.2em; padding-top: 10px; }

/** main blocks **/
#container { 
display: block;
max-width: 750px;
margin: 0 auto; 
margin-top: 20px; 
margin-bottom: 20px;
padding: 20px 15px; 
background: #fff; 
border-radius: 6px; 
-webkit-border-radius: 6px; 
-moz-border-radius: 6px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box; 
box-sizing: border-box;
  
}


/** the form elements **/
form { box-sizing: border-box;}

.txtinput { 
display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-top: 20px;
font-size: 1.55em;
padding: 11px 25px;
padding-left: 55px;
width: 90%;
color: #777;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}

.caixaPequena { 
display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-top: 20px;
font-size: 1.55em;
padding: 11px 25px;
padding-left: 10px;
width: 10%;
color: #777;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}

.caixaMedia { 
display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-top: 30px;
font-size: 1.55em;
padding: 11px 25px;
padding-left: 10px;
width: 40%;
color: #777;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}

.txtinput:focus { 
color: #333;
border-color: rgba(41, 92, 161, 0.4);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
outline: 0 none; 
}

[type=number] {display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-bottom: 20px;
font-size: 1.55em;
padding: 8px 10px;
padding-left: 15px;
width: 20%;
color: #777;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;}

/**---FORM CLIENTE---**/

#form_cadastro input.txtinput {background: #fff 5px 4px no-repeat; background-image:url(../images/form_sprite.png); display:block; }

#form_cadastro #nome { background-position:2px 5px; }

#form_cadastro #data { background-position:2px -32px; }

#form_cadastro input#email {background-position:2px -110px;}

#form_cadastro input#telefone1 {background-position:2px -74px;}

#form_cadastro input#telefone2 {background-position:2px -74px;}

#form_cadastro input#facebook {background-position:2px -153px;}

#form_cadastro input#senha {background-position:2px -194px;}


/**---FORM PRODUTO---**/


#form_cadProduto input.txtinput{background: #fff 5px 4px no-repeat; background-image:url(../images/sprite_cadProduto.png); display:block; }

#form_cadProduto #nome { background-position:2px 5px; }

#form_cadProduto textarea{background: #fff 5px 4px no-repeat; background-image:url(../images/speech.png); display:block; }

#form_cadProduto #valor { background-position:2px -65px; }

/**---FORM CATEGORIA---**/

#form_cadastro input.txtinput {background: #fff 5px 4px no-repeat; background-image:url(../images/form_sprite.png); display:block; }

/**---FORM CONTATO---**/

#form_contato input.txtinput{background: #fff 5px 4px no-repeat; background-image:url(../images/form_sprite.png); display:block; }

#form_contato #nome { background-position:2px 5px; }

#form_contato input#email {background-position:2px -110px;}

#form_contato input#telefone1 {background-position:2px -74px;}

#form_contato textarea{background: #fff 5px 4px no-repeat; background-image:url(../images/speech.png); display:block; }

/**---FORM FORNECEDOR---**/

#form_cadFornecedor input.txtinput {background: #fff 5px 4px no-repeat; background-image:url(../images/form_sprite.png); display:block; }

#form_cadFornecedor #nome { background-position:2px 5px; }

#form_cadFornecedor input#telefone1 {background-position:2px -74px;}

#form_cadFornecedor input#telefone2 {background-position:2px -74px;}

#form_cadFornecedor input#email {background-position:2px -110px;}



textarea {
display: block;
font-family: "Helvetica Neue", Arial, sans-serif;
border-style: solid;
border-width: 1px;
border-color: #dedede;
margin-top:20px;
margin-bottom: 10px;
font-size: 1.5em;
padding: 11px 25px;
padding-left: 55px;
width: 90%;
height: 180px;
max-height:200px;
max-width:500px;
color: #777;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}

textarea:focus {
color: #333;
border-color: rgba(41, 92, 161, 0.4);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
outline: 0 none; 
}
textarea.txtblock {
background: #fff url('images/speech.png') 5px 4px no-repeat;
}

#slider { width: 60%; }

#aligned { 
box-sizing: border-box;  
width: 450px; 
margin-right: 50px;

}

#aside {
	width: 250px;
	padding: 0;
	box-sizing: border-box;
}

#wrapping { width: 100%; box-sizing: border-box; }

span.radiobadge { display: block; margin-bottom: 8px; }
span.radiobadge label { font-size: 1.2em; padding-bottom: 4px; }

select.selmenu {
font-size: 17px;
color: #676767;
padding: 9px !important;
border: 1px solid #aaa;
width: 200px;
}

#imagem{background-color:#fff;
border:1px solid #ccc;
padding:5px;
height:150px;
width:240px;}

.thumb{ 
display:inline-block; 
position:relative; 
overflow:hidden; 
}

.uploadFile { cursor:pointer; position:absolute; filter:alpha(opacity=100); -moz-opacity:0.01; opacity:0.01; font-size:50px; }

.uploadButton { cursor:pointer; height:60px; width:60px; margin-bottom:82px;}

.uploadImg{border:4px #000 solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}

/** custom buttons **/

#buttons { display: block; padding-top: 10px;}

#buttons #resetbtn {
display: block;
float: right;
color: #515151;
text-shadow: -1px 1px 0px #fff;
margin-right: 20px;
height: 3em;
padding: 0 1em;
outline: 0;
font-weight: bold;
font-size: 1.3em;
white-space: nowrap;
word-wrap: normal;
vertical-align: middle;
cursor: pointer;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
background-color: #fff;
background-image: -moz-linear-gradient(top,  rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(240,240,240)), color-stop(100%,rgb(222,222,222)));
background-image: -webkit-linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);
background-image: -o-linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);    background-image: -ms-linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);
background-image: linear-gradient(top,  rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
border: 1px solid #969696;
box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
-moz-box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
-webkit-box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

#buttons #resetbtn:hover {
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);	
color: #818181;
background-color: #fff;
background-image: -moz-linear-gradient(top,  rgb(255,255,255) 2%, rgb(244,244,244) 2%, rgb(229,229,229) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(244,244,244)), color-stop(100%,rgb(229,229,229)));
background-image: -webkit-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%);background-image: -o-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: -ms-linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: linear-gradient(top,  rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
border-color: #aeaeae;
box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
}

#buttons #submitbtn {
display: block;
float: right;
height: 3em;
padding: 0 1em;
border: 1px solid;
outline: 0;
font-weight: bold;
font-size: 1.3em;
color:  #fff;
text-shadow: 0px 1px 0px #222;
white-space: nowrap;
word-wrap: normal;
vertical-align: middle;
cursor: pointer;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
border-color: #000000 #000000 #000000;
-moz-box-shadow: inset 0 1px 0 rgba(0,0,0);
-ms-box-shadow: inset 0 1px 0 rgba(0,0,0);
-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0);
box-shadow: inset 0 1px 0 rgba(0,0,0);
background-color: rgb(0,0,0);
background-image: -moz-linear-gradient(top, rgb(0,0,0) 3%, rgb(0,0,0) 3%, rgb(0,0,0) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgb(0,0,0)), color-stop(3%,rgb(0,0,0)), color-stop(100%,rgb(0,0,0))); 
background-image: -webkit-linear-gradient(top, rgb(0,0,0) 3%,rgb(0,0,0) 3%,rgb(0,0,0) 100%);
background-image: -o-linear-gradient(top, rgb(0,0,0) 3%,rgb(0,0,0) 3%,rgb(0,0,0) 100%);
background-image: -ms-linear-gradient(top, rgb(0,0,0) 3%,rgb(0,0,0) 3%,rgb(0,0,0) 100%);
background-image: linear-gradient(top, rgb(0,0,0) 3%,rgb(0,0,0) 3%,rgb(0,0,0) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}
#buttons #submitbtn:hover, #buttons #submitbtn:active {
border-color: #8C1717 #8C1717 #000;
color: #fff;
-moz-box-shadow: inset 0 1px 0 rgba(140,23,23),0 1px 3px rgba(0,0,0,0.5);
-ms-box-shadow: inset 0 1px 0 rgba(140,23,23),0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: inset 0 1px 0 rgba(140,23,23),0 1px 3px rgba(0,0,0,0.5);
box-shadow: inset 0 1px 0 rgba(140,23,23),0 1px 3px rgba(0,0,0,0.5);
background: rgb(140,23,23);
background: -moz-linear-gradient(top, rgb(140,23,23) 2%, rgb(140,23,23) 3%, rgb(140,23,23) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(140,23,23)), color-stop(3%,rgb(140,23,23)), color-stop(100%,rgb(140,23,23))); 
background: -webkit-linear-gradient(top, rgb(140,23,23) 2%,rgb(140,23,23) 3%,rgb(140,23,23) 100%); 
background: -o-linear-gradient(top, rgb(140,23,23) 2%,rgb(140,23,23) 3%,rgb(140,23,23) 100%); background: -ms-linear-gradient(top, rgb(140,23,23) 2%,rgb(140,23,23) 3%,rgb(140,23,23) 100%); background: linear-gradient(top, rgb(140,23,23) 2%,rgb(140,23,23) 3%,rgb(140,23,23) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8C1717', endColorstr='#8C1717',GradientType=0 );
}


/** @group clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }