@charset "utf-8";

*{
	font-family:Arial, Helvetica, sans-serif;
}

#listaProd{width:1000px; margin:0 auto;}

#tab{
	width:100%;
	border:solid 1px;
	text-align: left;
	border-collapse:collapse;
	border-color:#C1CDCD;
}

#tab tr{
	height:30px;
}

#tab thead tr{
	background: #A2B5CD;
}

#tab tr td:first-child, #tab tr td:last-child{
	width:150px;
}

#tab tbody tr:nth-child(odd){
	background: #C1CDCD
}
  
#tab a{ margin-right:45px;}



