<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="screen" href="../../../public/stylesheets/layout_listagem.css">
<title>Test</title>



</head>

<body>

<div id="novo_cad" align="left">
	<a href="@{cadCategoria()}" id="botao_cad"></a>
</div>

	<div id="listagem" align="center">
	</div>

<div id="listagem" align="center">
#{ifnot categorias}
    <table id="tab">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Decrição</th>
                <th>Opção</th>
            </tr>
        </thead>     
        <tbody>
    <p>
        Sem mais resultados.
    </p>
#{/ifnot}
#{else}

    <table id="tab">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Opção</th>
            </tr>
        </thead>     
        <tbody>
            #{list categorias, as:'categoria'}
            <tr>
                <td>${categoria.id}</td>
                <td>${categoria.nome}</td>
                <td>${categoria.descricao}</td>
                <td><a id="editar" name= "editar"href="@{editCategoria(categoria.id)}"><img src="../../../public/images/editar.png"/></a>
                

                <a id="remover" onclick="return confirm('Deseja realmente excluir esta categoria? Lembre-se que podem haver produtos que dependem dela, os mesmos também serão excluidos!')" name = "remover" href="@{exclui(categoria.id)}" ><img src="../../../public/images/remover.png"/></a></td>

                
                
            </tr>
            #{/list}
 
        </tbody>
        <tfoot>
        </tfoot>

    </table>
    
    <a id="downPage" href="${page-1}">Anterior</a> <a id="nextPage"
			href="${page+1}">Próxima</a> 

  #{/else}
  
</div>
</body>
</html>
