@charset "utf-8";



#relatorio { width:900px; height:385px; margin:40px auto; text-align:center;}

#relatorio h1 { font-family:Arial, Helvetica, sans-serif; font-size:32px; color:#930;}

#rel_cliente { float:left; font-family:Arial, Helvetica, sans-serif;}

#img_cliente { width:128px; height:128px; background-image:url(../images/usuario.png); margin:60px; display:block;}

#rel_produto { float:left;font-family:Arial, Helvetica, sans-serif;}

#img_produto {	width:128px; height:128px; background-image:url(../images/produto.png); margin:60px 125px; display:block;}

#rel_pedido { float:right; font-family:Arial, Helvetica, sans-serif;}

#img_pedido {	width:128px; height:128px; background-image:url(../images/pedidos.png); margin:60px; display:block;}