@charset "utf-8";

*{
	font-family:Arial, Helvetica, sans-serif;
}

/**---PESQUISA---**/

#pesq_adm { width:900px; min-height:305px; margin:40px auto;}

#search { width:210px; height:30px; margin-top:10px;}

#botaopesq{ width:70px; height:35px;}

#pesq_adm p { margin:10px; display:block;}

#listagem{ width:900px; margin:0 auto;}

#downPage, #nextPage { color:#FFF; text-decoration:none; background:#000; display:inline-block; margin:10px 3px; padding:7px;}

#botao_cad { background-image:url(../images/botao_cad.png); background-repeat:no-repeat; width:140px; height:40px; display:block; margin-bottom:5px;}



#tab{
	width:100%;
	border:solid 1px;
	text-align: left;
	border-collapse:collapse;
	border-color:#C1CDCD;
}

#tab tr{
	height:30px;
}

#tab thead tr{
	background: #A2B5CD;
}

#tab tr td:first-child, #tab tr td:last-child{
	width:150px;
}

#tab tbody tr:nth-child(odd){
	background: #C1CDCD
}
  
#tab a{ margin-right:45px;}


/**---PEDIDOS---**/

#pedidos { width:900px; min-height:305px; margin:40px auto;}

#visualizar { background-image:url(../images/lupa.png); background-repeat:no-repeat; height:20px; width:20px; display:block; margin-left:20px;}



