<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="screen" href="../../../public/stylesheets/layout_listagem.css">
<title>Test</title>



</head>

<body>

<div id="novo_cad" align="left">
	<a href="@{cadAdministrador()}" id="botao_cad"></a>
</div>

<div id="listagem" align="center">
#{ifnot administradores}
    <table id="tab">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Função</th>
                <th>Opção</th>
            </tr>
        </thead>     
        <tbody>
    <p>
        Não há administradores cadastrados
    </p>
#{/ifnot}
#{else}

    <table id="tab">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Função</th>
                <th>Opção</th>
            </tr>
        </thead>     
        <tbody>
            #{list administradores, as:'administrador'}
            <tr>
                <td>${administrador.id}</td>
                <td>${administrador.nome}</td>
                <td>${administrador.tipo}</td>
                <td><a id="editar" name= "editar"href="@{editAdministrador(administrador.id)}"><img src="../../../public/images/editar.png"/></a>
                

                <a id="remover" onclick="return confirm('Deseja realmente excluir este administrador?')" name = "remover" href="@{exclui(administrador.id)}" ><img src="../../../public/images/remover.png"/></a></td>

                
                
            </tr>
            #{/list}
 
        </tbody>
        <tfoot>
        </tfoot>

    </table>

  #{/else}  
</div>
</body>
</html>
