#{extends 'main_adm.html' /}
#{set title:'Caixinhas de Desejos' /}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" media="screen" href="../../../public/stylesheets/layout_listagem.css">

<title>Pedidos</title>

</head>

<body>

<div id="pedidos" align="center">


    <table id="tab">
        <thead>
            <tr>
                <th>Cód Pedido</th>
                <th>Nome Cliente</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Valor Total</th>
                <th>Visualizar</th>
            </tr>
        </thead>     
        <tbody>
         
            <tr>
                <td>01</td>
                <td>José Azevedo</td>
                <td>27/03/2013</td>
                <td>21:50</td>
                <td>R$ 65,90</td>
                <td><a href="" id="visualizar"></a></td>
                  
            </tr>
            <tr>
                <td>02</td>
                <td>Maria do Carmo</td>
                <td>27/03/2013</td>
                <td>21:50</td>
                <td>R$ 52,00</td>
                <td><a href="" id="visualizar"></a></td>
                  
            </tr>
            
        </tbody>
        <tfoot>
        </tfoot>

    </table>

</div>
</body>
</html>