#{extends 'main_adm.html' /}
#{set title:'Relatórios' /}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<link rel="stylesheet" type="text/css" media="screen" href="../../../public/stylesheets/layout_relatorio.css">

<title>Insert title here</title>
</head>

<body>

<div id="relatorio">
	<h1>Relatorios</h1>

    <div id="rel_cliente">
    	<a href="" id="img_cliente"></a>
    	<h2>Clientes</h2>
    </div>
    
    <div id="rel_produto">
    	<a href="" id="img_produto"></a>
        <h2>Produtos</h2>
    </div>

    <div id="rel_pedido">
    	<a href="" id="img_pedido"></a>
        <h2>Pedidos</h2>
    </div>
    
</div>

</body>
</html>