<link rel="stylesheet" type="text/css" media="all" href="@{'public/stylesheets/layout_produto.css'}">



#{ifnot produtos}
    <p>
        Por enquanto só temos essas novidades...Aguarde, traremos muito mais!!!
    </p>
#{/ifnot}
#{else}

<div id="centro" align="center">


<a id="nextPage" href="${page+1}"></a>
<a id="downPage" href=""></a> 


    <div class="imagens">

	#{list produtos, as:'produto'} 
		
        <table align="left">
        	<tr>
    			<td><a href=""><img id="prod_img" src="@{imagemProduto(produto.id)}"/></br><span>${produto.nome}</span><br /><span>R$ ${produto.valor}</span><br /><a href="" id="visualizar"></a></td>
            </tr>
        </table>

	#{/list}
   
    </div> 
   
</div>

#{/else}

