<link rel="stylesheet" type="text/css" media="all" href="@{'public/stylesheets/layout_produto.css'}">
<link type="text/css" rel="stylesheet" href="@{'/public/stylesheets/layout_caixinha.css'}" />


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script> 

<script type="text/javascript">

$(document).ready(function() {	

	$('a[name=modal]').click(function(e) {
		e.preventDefault();
		
		var id = $(this).attr('href');
	
		var maskHeight = $(document).height();
		var maskWidth = $(window).width();
	
		$('#mask').css({'width':maskWidth,'height':maskHeight});

		$('#mask').fadeIn(1000);	
		$('#mask').fadeTo("slow",0.8);	
	
		//Get the window height and width
		var winH = $(window).height();
		var winW = $(window).width();
              
		$(id).css('top',  winH/2-$(id).height()/2);
		$(id).css('left', winW/2-$(id).width()/2);
	
		$(id).fadeIn(2000); 
	
	});
	
	$('.window .close').click(function (e) {
		e.preventDefault();
		
		$('#mask').hide();
		$('.window').hide();
	});		
	
	$('#mask').click(function () {
		$(this).hide();
		$('.window').hide();
	});			
	
});

</script>


#{ifnot produtos}
    <p>
        Por enquanto só temos essas novidades...Aguarde, traremos muito mais!!!
    </p>
#{/ifnot}
#{else}

<div id="menu_prod">

	<h3>>> Categorias</h3>
	<a class="link_prod" href="">Colares</a>
    <a class="link_prod" href="">Pulseiras</a>
    <br />
    
    <h3>>> Filtro</h3>
    <select>
  	<option value="">R$ 5,00 - R$ 10,00</option>
  	<option value="">R$ 10,00 - R$ 20,00</option>
  	<option value="">R$ 20,00 - R$ 30,00</option>
  	<option value="">Acima de R$ 30,00</option>
	</select>
    <a href=""><img id="botaofiltro" src="../../../public/images/botaofiltro.png"/></a>
    
</div>

<div id="centro" align="center">


<a id="nextPage" href="${page+1}"></a>
<a id="downPage" href="${page-1}"></a> 


    <div class="imagens">

	#{list contador, as:'contador'} 
		
        <table align="left">
        	<tr>
    			<td><a id="prod" name="modal" href="#dialog"><img id="prod_img" src="@{imagemProduto(produtos[contador].id)}"/></br><span>${produtos[contador].nome}</span><br /><span>R$ ${valores[contador]}</span><br /><a href="#dialog" name="modal" id="visualizar"></a></td>
            </tr>
        </table>

	#{/list}
   
    </div>
    
      <div id="boxes">

          <div id="dialog" class="window">
              <a href="#" class="close"><img src="../../../public/images/close.png"/></a><br />
              <img id="prod_exibir" src="@{imagemProduto(produtos[contador].id)}"/>
              <h4>${produtos[contador].nome}</h4>
              <h6>${produtos[contador].descricao}</h6>
              <h4>R$ ${valores[contador]}</h4>
              <h5>Quantidade</h5><input type="number" name="" value="1" id="quantid" min="1"><a href="" id="adicionar"></a>
              
             
          </div>
          
      
          <!-- Máscara para cobrir a tela -->
          <div id="mask">
          </div> 
   
</div>

#{/else}

<a id="nextPage" href="${page+1}"></a>
<a id="downPage" href="${page-1}"></a> 

