@(message: String)

@main("Srta Biju") {
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/layout.css")" />
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/base.css")" />
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/right.css")" />

	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.jcarousel.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.slide.js")"></script>
	<script language="javascript">
		$(document).ready(function (){
					$("#slideimg").PikaChoose({carousel:true, carouselVertical:true});
				});
	</script>
	<script type="text/javascript">
	function submeter(pAcao) {
		
		if (pAcao =="produto")
			alert("Função 'Produtos' ainda não implementada.")
			
		if (pAcao =="minhaConta")
			alert("Função 'Minha Conta' ainda não implementada.")
				
		if (pAcao =="empresa")
			alert("Função 'Empresa' ainda não implementada.")		
				
		if (pAcao =="contato")
			alert("Função 'Contato' ainda não implementada.")
			
		if (pAcao =="pesquisa")
			alert("Função 'Pesquisa' ainda não implementada.")	
		
	
	}
</script>
        
<title>S4I - Srta.Biju</title>
</head>

<body>


<div id="topo">
	<div id="dentrotopo">
    	<img src="@routes.Assets.at("images/Logo.png")" alt="Logo" />
        <input type="image" src="@routes.Assets.at("images/botaopesq.png")" alt="Buscar..." id="botaoBusca" onclick="submeter('pesquisa')"/>
        <input type="text" name="pesquisa" placeholder="Digite sua pesquisa..." style="border:none; background-color: none" />
	</div>
</div>

<div id="menu">
	<div id="dentromenu">
    	<ul>
    	<li><a href="" class="links"> Home</a></li>
		<li><a href="" class="links" onclick = "submeter('produto')" > Produtos</a></li>
		<li><a href="" class="links" onclick = "submeter('minhaConta')"> Minha Conta</a></li>
		<li><a href="" class="links" onclick = "submeter('empresa')"> A Empresa</a></li>
		<li><a href="" class="links" onclick = "submeter('contato')"> Contato</a></li>
        </ul>
    </div>
</div>

<div id="conteudo">

	<div id="barramenu">
    	<div id="login">
        	<b>Minha Conta</b>
        </div>
    </div>
    
	<div class="slide">
	<h1>Bem-Vindo!</h1>
		<ul class="jcarousel-skin" id="slideimg" name="slideimg">
			<li><a href=""><img src="@routes.Assets.at("images/Slide/1.jpg")"/></a><span>Pulseira trançada com pedrinhas.</span></li>
			<li><a href=""><img src="@routes.Assets.at("images/Slide/2.jpg")"/></a><span>Lançamento! Pulseiras com cores variadas</span></li>
			<li><a href=""><img src="@routes.Assets.at("images/Slide/3.jpg")"/></a><span>Conheça nossos pordutos!</span></li>
			<li><a href=""><img src="@routes.Assets.at("images/Slide/4.jpg")"/></a><span>Pulseira elegante.</span></li>
			<li><a href=""><img src="@routes.Assets.at("images/Slide/5.jpg")"/></a><span>Pulseira banhada a ouro.</span></li>
		</ul>
	</div>
     
	<h3>Conheça nossa</h3>
	<h1>Vitrine !</h1>

	<div id="barra">
    </div>
       
</div>

<div id="rodape">
	<b>© 2013 - S4Info. Todos os Direitos Reservados.</b>
</div>


</form>
</body>
</html>
}